npm-debug.log
/node_modules/
/coverage/
/.idea/
/dist/
/recursive/*.js
/*.js
!/rollup-build.js
ap/*.js
op/*.js

# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf
